# Laravel
backend/vendor/
backend/.env
backend/node_modules/
backend/storage/logs/*
backend/bootstrap/cache/*
backend/database/database.sqlite

# Android
frontend/.gradle/
frontend/.idea/
frontend/build/
frontend/app/build/
frontend/local.properties
frontend/*.iml
frontend/.DS_Store
frontend/captures/